body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1415px;
  width:150px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:34px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1460px;
  width:150px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:23px;
  top:1493px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
  background-image:none;
}
#u3_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
  visibility:hidden;
  background-image:none;
}
#u3_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:23px;
  top:1104px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
  background-image:none;
}
#u7_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:255px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:416px;
  word-wrap:break-word;
}
#u7_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
  visibility:hidden;
  background-image:none;
}
#u7_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:255px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:416px;
  word-wrap:break-word;
}
#u7_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
  visibility:hidden;
  background-image:none;
}
#u7_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:255px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:416px;
  word-wrap:break-word;
}
#u7_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
  visibility:hidden;
  background-image:none;
}
#u7_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:256px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:255px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:416px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1104px;
  width:105px;
  height:57px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1104px;
  width:105px;
  height:57px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1104px;
  width:105px;
  height:57px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1104px;
  width:105px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:101px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:46px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1059px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:962px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:904px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:846px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:788px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:730px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:672px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:615px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:557px;
  width:286px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:282px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:675px;
  width:247px;
  height:1px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:731px;
  width:247px;
  height:1px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:788px;
  width:247px;
  height:1px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:847px;
  width:247px;
  height:1px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:907px;
  width:247px;
  height:1px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:963px;
  width:247px;
  height:1px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:574px;
  width:23px;
  height:24px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:509px;
  width:168px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:46px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:204px;
  width:151px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:269px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:267px;
  width:300px;
  height:25px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:284px;
  height:20px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:327px;
  width:46px;
  height:27px;
  font-size:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:341px;
  width:51px;
  height:1px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:399px;
  width:62px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:399px;
  width:284px;
  height:20px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:438px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:607px;
  height:65px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:101px;
  width:596px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_ann {
  border-width:0px;
  position:absolute;
  left:612px;
  top:97px;
  width:1px;
  height:1px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:118px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:118px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:118px;
  width:48px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:118px;
  width:48px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:118px;
  width:52px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:118px;
  width:52px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:21px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:118px;
  width:182px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:24px;
  height:24px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:122px;
  width:13px;
  height:13px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:46px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:56px;
  width:151px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
